{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    layout ? 'layout--' ~ layout|clean_class
  ]
%}

{% if content.field_dark_theme.0['#markup']|lower == 'on' %}
	{% set themeclass = ['ucl-cta--dark-theme'] %}
{% endif %}


<div{{ attributes.addClass(classes) }}>
	{{ title_prefix }}
	{% if label %}
		<h2{{ title_attributes.addClass('block__title') }}>{{ label }}</h2>
	{% endif %}
	{{ title_suffix }}
	{% block content %}
		<div{{ content_attributes.addClass('block__content', 'ucl-cta', themeclass) }}>
			<div class="ucl-cta-left">
				<h2 class="ucl-cta__title">{{ content.field_cta_title.0 }}</h2>
				<p class="ucl-cta__body">{{ content.body.0['#text']|striptags }}</p>
			</div>
			<div class="ucl-cta-right">
				<a class="button button--primary" href={{ content.field_cta_link.0['#url'].uri }}>
					{{ content.field_cta_link.0['#title'] }}
				</a>
			</div>
		</div>
	{% endblock %}
</div>

