{% set layout = layout ? 'layout--' ~ layout|clean_class %}

{% set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'page--article'
  ]
%}
<article{{ attributes.addClass(classes) }}>
	<header class="{{ layout }}">
		<div class="header__left">
      {{ title_prefix }}
			<h1{{ title_attributes.addClass('node__title') }}>
				{{ label }}
			</h1>
			{{ title_suffix }}
      {% if display_submitted %}
        <div class="node__meta">
          {% if author_picture %}
            <div class="node__author-image">
              {{ author_picture }}
            </div>
          {% endif %}
          <span{{ author_attributes.addClass('author-name') }}>
            {{ 'By'|t }}
            {% apply spaceless %}{{ author_name }}{% endapply %}
          </span>
          <span>{{ date }}</span>
          {% if content.field_tags %}
            {{ content.field_tags }}
          {% endif %}
        </div>
      {% endif %}
		</div>
		<div class="header__image"><img src={{ file_url(content.field_image['#items'].entity.uri.value) }} alt={{ content.field_image.alt }} />
    </div>
	</header>
	<div{{ content_attributes.addClass('node__content', layout) }}>
		{# Comments not part of content, so they won't inherit .text-content styles. #}
		{{ content|without('comment', 'field_image', 'field_tags') }}
	</div>
	{% if content.comment %}
		<div id="comments" class="{{ layout }}">
			{{ content.comment }}
		</div>
	{% endif %}
</article>

